/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",
    sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0faff;
}

.form_warp {
  background: url(../images/bg_img.jpg), rgba(0, 0, 0, 0.9);
  /* background-position: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  position: relative;
  max-width: 470px;
  width: 100%;
  border-radius: 12px;
  padding: 20px 30px 120px;
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form.login {
  position: absolute;
  left: 50%;
  bottom: -86%;
  transform: translateX(-50%);
  width: calc(100% + 220px);
  padding: 20px 140px;
  border-radius: 50%;
  height: 100%;
  background: #fff;
  transition: all 0.6s ease;
}

.wrapper.active .form.login {
  bottom: -15%;
  border-radius: 35%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.form header {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.form.login header {
  color: #333;
  opacity: 0.6;
}

.wrapper.active .form.login header {
  opacity: 1;
}

.wrapper.active .signup header {
  opacity: 0.6;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

form input {
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
}

.form.login input {
  border: 1px solid #aaa;
}

.form.login input:focus {
  box-shadow: 0 1px 0 #ddd;
}

form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox input[type="checkbox"] {
  height: 16px;
  width: 16px;
  accent-color: #fff;
  cursor: pointer;
}

form .checkbox label {
  cursor: pointer;
  color: #fff;
}

form a {
  color: #333;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

form input[type="submit"] {
  margin-top: 15px;
  padding: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.form.login input[type="submit"] {
  background: #4070f4;
  color: #fff;
  border: none;
}

/* home page css */

.search_warp {
  background: url(search_bg.jpg), rgba(0, 0, 0, 0.9);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  width: 100%;
}

.search_movi_form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.search_movi_form input[type="submit"] {
  background: #4070f4;
  color: #fff;
  margin-bottom: 15px;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  box-sizing: border-box;
}

.card {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.search_warp .container {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

.movi_box {
  /* height: 250px;
  width: 200px; */
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid#4070f4;
  justify-content: center;
}

/* .movi_box p {
  background: rgba(0, 0, 0, .9);
  padding: 15px 0;
  margin: 0;
  width: 100%;
  color: #fff;
  bottom: 0;
  position: absolute;
  text-align: center;
} */

.movi_img {
  height: 250px;
  width: 100%;
}

.movi_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.search_card {
  width: 100%;
  background-color: #262525;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border: 1px solid #646464;
  max-width: 400px;
  margin: auto;
  border-radius: 17px;
}

.search_card h2 {
  text-align: center;
  color: #4070f4;
}

.contant_box {
  background: rgba(0, 0, 0, .9);
  padding: 15px 0;
  margin: 0;
  width: 100%;
  color: #fff;
  bottom: 0;
  position: absolute;
  text-align: center;
  cursor: pointer;
}

.contant_box button {
  padding: 7px 15px;
  border: 0;
  margin-top: 8px;
  border-radius: 3px;
  background: #4070f4;
  color: #fff;

}

.watch_listing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px 0;
  gap: 10px;
  /* background: #4070f4; */
  padding: 15px;
}

.watch_listing .movi_box {
  width: 10%;
  height: 100px;
  gap: 10px;
}



.watch_listing .movi_img {
  width: 100%;
  height: 100px;
  border: 4px solid#fff;
  cursor: pointer;
}
